@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.part_of_speech {
    color: blue;
    font-weight: bold;
}

.button {
    color: white;
    display: inline-block;
}

.word {
    font-weight: bold;
    font-size: x-large;
}

.wordline {
    padding-bottom: 1em;
    
}

.definition {
    font-weight: bold;
    padding-left: 1ex;
    padding-bottom: 1ex;
}

.card {
    background-color: white;
    border: 3px solid black;
    margin: 4px;
}

.cardpad {
    background-color: rgb(117, 150, 228);
    border: 3px solid rgb(183, 194, 2128);
    margin: 2% 5% 2% 5%;
    box-shadow: 0.5ex 0.6ex gray;
    box-shadow: 2px 6px 6px 1px rgba(0, 0, 0, 0.5);

}

.card_header { 
    padding-top: 1em;
    padding-bottom: 0.3em;
    padding-left: 1ex;
    padding-right: 1ex;
    
}

.card_content { 
    padding-top: 1.8ex;
    padding-bottom: 3ex;
    padding-left: 1ex;
    padding-right: 1ex;
    
}

/* .card_content, .button, .example_line {
    */ 
/*     display: inline-block;
*/ 
/* }
*/ 



.example_line {
    font-size: small;
}
.example_wrapper {
    font-size: inherit;
    display: none;
}

.title {
    text-align: center;
    text-shadow: 0.1em 0.1em rgb(214, 203, 201);
    font-family: 'Dancing Script', sans-serif;
    /* display: none; */
    background-color: rgba(207, 207, 207, 0.2);
}

#star, #starbad {
    max-width: 2ex;
    margin: 0.5ex 1ex 0.5ex 0.5ex;
    
}

#star {
    display: none;
}

#starbad {
    display: inline;
}

#example_button {
    background-color: rgb(80, 139, 228);
    border-radius: 14%;
    padding: 1ex;
    margin-left: 1ex;
    margin-right: 1ex;

    box-shadow: 0.2ex 0.3ex black;
    

}